<!DOCTYPE html>

    <% include ../partials/head %>
    
<body>

    <% include ../partials/nav %>
    <% include ../partials/main-product-page %>
    <% include ../partials/footer %>
        
</body>
</html>