<!DOCTYPE html>
<html>

<% include ../partials/head %>

 <body style="padding: 100px;">

            <% for (let s of success) { %>
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <%= s %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>

            <% for (let error of errors) { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>

     <ul class="list-group">

        <% for (let category of categories) { %>

            <% let link = `/${ category.name }/${ category._id }` %>

            <li class="list-group-item">
                <a href="/api/admin/create-fake-product<%= link %>"><%= category.name %></a>
            </li>
        <% } %>

     </ul>

 </body>
</html>